<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load multifor %}
<html lang="en">
{% block breadcrumb %}


<li class="separator">
    <i class="flaticon-right-arrow"></i>
</li>
<li class="nav-item">
    <a href="{% url 'adminViewStudents' object.pk %}">Students</a>
</li>
{% endblock %}
{% block title %}
<h4 class="page-title">Student Roster</h4>
{% endblock %}
{% block content %}
<div class="card-body">
    <div class="table-responsive">
        <table id="basic-datatables" class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4" >
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Game Name</th>
                    <th>Course</th>
                    <th>Instructor</th>
                    <th>Student Stats</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for session in session %}
                        {% if session.game_tag.game_name == object.game_name %}
                    <tr>
                    
                        <td id="test">{{session.student}}</td>
                        <td>{{session.game_tag.game_name}}</td>
                        <td>{{session.game_tag.course}}</td>
                        <td>{{session.game_tag.Instructor}}</td>
                        <td><a href="{% url 'adminManageGameView' session.pk %}"><i class="fas fa-user-cog"></i> View Stats</td>
                    </tr>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
            <div class="card card-stats card-warning card-round" id="card" style="visibility: hidden">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-exclamation"></i>
                            </div>
                        </div>
                        <div class="col col-stats">
                            <div class="numbers">
                                <h1 id="empty"></h1>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>
    if (document.getElementById("test") == null) {
        document.getElementById("empty").innerHTML = "No students enrolled!";
        document.getElementById("card").style.visibility = "visible";
    }



</script>


 
{% endblock %}

</html>