 <!DOCTYPE html> 
 {% extends 'base.html' %}
 {% load static %} 
<html lang="en">
    {% block title %}
    <h4 class="page-title">Instructor Dashboard</h4>
    {% endblock %}
    {% block content %}
    
 
 
{% for game in object_list %}
    <div class="row">
        <div class="col-md-11">
            <div class="card card-info card-annoucement card-round">
                <div class="card-body text-center">
                    <div class="card-opening">{{game.game_name}} </div>
                    <div class="card-desc">  
                    {{game.course}}
                    {{game.Instructor}}
                    </div>
                    <div class="card-detail">
                        <div class="btn btn-light btn-rounded"> <a href="{% url 'adminViewGameStats' game.pk %}">View Detail</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
 
    {% endblock %}
</html>
