<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block breadcrumb %}
<li class="separator">
    <i class="flaticon-right-arrow"></i>
</li>
<li class="nav-item">
    <a href="{% url 'adminViewGameStats' object.pk %}">View Stats</a>
</li>
{% endblock %}

{% block title %}
<h4 class="page-title">Student Roster</h4>
{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<div class="card-body">
    <div class="table-responsive">
        <table id="basic-datatables" class="display table table-striped table-hover" >

            <thead>
                <tr>
                    <th>Student</th>
                    <th>Initial Budget</th>
                    <th>Total Budget</th>
                    <th>Total Expenses</th>
                    <th>Surplus/Excess</th>
                    <th>Satisfaction Score</th>

                </tr>
            </thead>
            <tbody>
                
                    <tr>
                     {% for session in session %}
                     {% if session.game_tag.game_name == object.game_name %}
                     <td id="test">{{session.student}}</td>

                     <td id='initial_budget{{ forloop.counter }}'> {{ session.game_tag.initial_budget }}</td>
                     <td id='totalbud{{ forloop.counter }}'></td>   
                     <td id='exptotal{{ forloop.counter }}'></td>

                     <div id='rembud'><td id='remainingbud{{ forloop.counter }}'></td> </div>

                     <td id='overallsatscore{{ forloop.counter }}'></td>
                 </tr>
             
             <!-- attempting to initialize all elements for the js -->


             <script type="text/javascript">

                var id_suffix = "{{ forloop.counter }}"

                var formatter = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',});
                var prevprice1 = parseFloat(formuladict({{session.immunization_perc}}).toFixed(2));
                var prevprice2 = parseFloat(formuladict({{session.EDUSmoking_perc}}).toFixed(2));
                var prevprice3 = parseFloat(formuladict({{session.EDUDisease_perc}}).toFixed(2));
                var prevprice4 = parseFloat(formuladict({{session.Screening_perc}}).toFixed(2));
                var prevprice5 = parseFloat(formuladict({{session.TestingLab_perc}}).toFixed(2));
                var prevprice6 = parseFloat(formuladict({{session.TestingPharmo_perc}}).toFixed(2));
                var prevprice7 = parseFloat(formuladict({{session.AnnualPCP_perc}}).toFixed(2));

                var acuteprice1 = parseFloat(formuladict1({{session.HospitalCare_perc}}).toFixed(2));
                var acuteprice2 = parseFloat(formuladict1({{session.MentalHealth_perc}}).toFixed(2));
                var acuteprice3 = parseFloat(formuladict1({{session.EmergencyCare_perc}}).toFixed(2));

                var ambprice1 = parseFloat(formuladict({{session.OutPatientSurg_perc}}).toFixed(2));
                var ambprice2 = parseFloat(formuladict({{session.OutPatientRadio_perc}}).toFixed(2));
                var ambprice3 = parseFloat(formuladict({{session.PhysicianPCP_perc}}).toFixed(2));
                var ambprice4 = parseFloat(formuladict({{session.PhysicianSpec_perc}}).toFixed(2));
                var ambprice5 = parseFloat(formuladict({{session.UrgentCare_perc}}).toFixed(2));
                var ambprice6 = parseFloat(formuladict({{session.HomeHealth_perc}}).toFixed(2));
                var ambprice7 = parseFloat(formuladict({{session.Hospice_perc}}).toFixed(2));

                var ltcsprice1 = parseFloat(formuladict2({{session.LTAC_perc}}).toFixed(2));
                var ltcsprice2 = parseFloat(formuladict2({{session.SkilledNursing_perc}}).toFixed(2));
                var ltcsprice3 = parseFloat(formuladict2({{session.NursingHome_perc}}).toFixed(2));
                var ltcsprice4 = parseFloat(formuladict2({{session.AsstLiving_perc}}).toFixed(2));
                var ltcsprice5 = parseFloat(formuladict2({{session.IndLiving_perc}}).toFixed(2));

                var pharmprice1 = parseFloat(formuladict3({{session.NameBrand_perc}}).toFixed(2));
                var pharmprice2 = parseFloat(formuladict3({{session.GenDrugs_perc}}).toFixed(2));
                var pharmprice3 = parseFloat(formuladict3({{session.SpecialtyDrugs_perc}}).toFixed(2));
                var pharmprice4 = parseFloat(formuladict3({{session.DurableMedEqu_perc}}).toFixed(2));

                var taxprice1 = parseFloat(formuladict4({{session.TobTax_perc}}.toFixed(1)).toFixed(2));
                var taxprice2 = parseFloat(formuladict4({{session.Alcohol_perc}}.toFixed(1)).toFixed(2));
                var taxprice3 = parseFloat(formuladict4({{session.FattyFoods_perc}}.toFixed(1)).toFixed(2));
                var taxprice4 = parseFloat(formuladict4({{session.SugFoods_perc}}.toFixed(1)).toFixed(2));

                function loader(){
                    document.getElementById("initial_budget"+id_suffix).innerHTML = document.getElementById("initial_budget"+id_suffix).innerHTML.replace(/\$/g, '').replace(/\,/g, '').replace(/\-/g, '');
                    document.getElementById("initial_budget"+id_suffix).innerHTML = formatter.format(document.getElementById("initial_budget"+id_suffix).innerHTML);
    // prevtotalcalc()
    // acutetotalcalc()
    // ambtotalcalc()
    // ltcstotalcalc()
    // pharmtotalcalc()
    expensestotal()
    // taxtotalcalc()
    remainingtotal()
    prevsatscore()
    acutesatscore()
    ambsatscore()
    ltcssatscore()
    pharmsatscore()
    taxsatscore()
    overallsatscore()
}

function remainingtotal(){

    var budget = document.getElementById("initial_budget"+id_suffix).innerHTML.replace(/\$/g, '').replace(/\,/g, '').replace(/\-/g, '');
    
    var taxes = Number(taxprice1) + Number(taxprice2) + Number(taxprice3) + Number(taxprice4);
    
    document.getElementById('totalbud'+id_suffix).innerHTML =  formatter.format(Number(taxes) + Number(budget));
    

    var expenses = document.getElementById('exptotal'+id_suffix).innerHTML.replace(/\$/g, '').replace(/\,/g, '').replace(/\-/g, '');

    document.getElementById('remainingbud'+id_suffix).innerHTML = formatter.format(Number(budget) - Number(expenses) + Number(taxes));}
    var remainingbud = document.getElementById('remainingbud'+id_suffix).innerHTML.replace(/\$/g, '').replace(/\,/g, '');
    if(remainingbud < 0){
        document.getElementById('rembud').className = 'card card-stats card-danger card-round';
    }
    else{
        document.getElementById('rembud').className = 'card card-stats card-success card-round';
    }


    function expensestotal() {
      let prevtotal = Number(prevprice1) + Number(prevprice2) + Number(prevprice3) + Number(prevprice4) + Number(prevprice5) + Number(prevprice6) + Number(prevprice7);
      var prevtotalcost = ("-" + formatter.format(prevtotal));

      let acutetotal = Number(acuteprice1) + Number(acuteprice2) + Number(acuteprice3);
      var acutetotalcost = ("-" + formatter.format(acutetotal));

      let ambtotal = Number(ambprice1) + Number(ambprice2) + Number(ambprice3) + Number(ambprice4) + Number(ambprice5) + Number(ambprice6) + Number(ambprice7);
               // var ambtotalcost = ("-" + formatter.format(ambtotal));

               let ltcstotal = Number(ltcsprice1) + Number(ltcsprice2) + Number(ltcsprice3) + Number(ltcsprice4) + Number(ltcsprice5);
                    // var ltcstotalcost = ("-" + formatter.format(ltcstotal));

                    let pharmtotal = Number(pharmprice1) + Number(pharmprice2) + Number(pharmprice3) + Number(pharmprice4);
                        // var pharmtotalcost = ("-" + formatter.format(pharmtotal));
                        

        // document.getElementById('taxtotalcost').innerHTML = ("+" + formatter.format(taxtotal));
        // document.getElementById('taxtotalcost1').innerHTML = ("+" + formatter.format(taxtotal));

        var a = prevtotalcost.replace(/\$/g, '').replace(/\,/g, '').replace(/\-/g, '');
        var b= acutetotalcost.replace(/\$/g, '').replace(/\,/g, '').replace(/\-/g, '');
        // var c= ambtotalcost.replace(/\,/g, '').replace(/\-/g, '').replace(/\-/g, '');
        // var d= ltcstotalcost.replace(/\,/g, '').replace(/\-/g, '').replace(/\-/g, '');
        // var e= pharmtotalcost.replace(/\,/g, '').replace(/\-/g, '').replace(/\-/g, '');
        var exptot = Number(a) + Number(b) + ambtotal + ltcstotal + pharmtotal;
        document.getElementById('exptotal'+id_suffix).innerHTML = document.getElementById('exptotal'+id_suffix).innerHTML.replace(/\$/g, '').replace(/\,/g, '').replace(/\-/g, '');
        document.getElementById('exptotal'+id_suffix).innerHTML = (formatter.format(exptot));}






        loader()
//formula to calculate preventative and ambulatory
function formuladict(value){
    var dict = {};
    dict[100] = 0;
    var y = 500000;
    var x = 99;
    dict[x] = y;
    while(x>0){
        y = y * 1.05;
        x -= 1;
        dict[x] = y;}
        return dict[value];}
//formula to calculate Acute Care
function formuladict1(value1){
    var dict1 = {};
    dict1[100] = 0;
    var y1 = 2500000;
    var x1 = 99;
    dict1[x1] = y1;
    while(x1>0){
        y1 = y1 * 1.05;
        x1 -= 1;
        dict1[x1] = y1;}
        return dict1[value1];}
//formula to calculate long term
function formuladict2(value){
    var dict2 = {};
    dict2[100] = 0;
    var y2 = 750000;
    var x2 = 99;
    dict2[x2] = y2;
    while(x2>0){
        y2 = y2 * 1.05;
        x2 -= 1;
        dict2[x2] = y2;}
        return dict2[value];}
//formula to calculate pharmacy
function formuladict3(value){
    var dict3 = {};
    dict3[100] = 0;
    var y3 = 1000000;
    var x3 = 99;
    dict3[x3] = y3;
    while(x3>0){
        y3 = y3 * 1.05;
        x3 -= 1;
        dict3[x3] = y3;}
        return dict3[value];}
// formula to calculate tax amount
function formuladict4(value){
    var dict4 = {};
    dict4['0.0'] = 0;
    var y4 = 500000;
    var x4 = 0.1;
    dict4[x4] = y4;
    while(x4<=10){
        y4 = y4 * 1.05;
        x4 += .1;
        dict4[x4.toFixed(1)] = y4;
    }
    return dict4[value];}

// formula to calculate satisfaction score from preventative services
function prevsatscore() {
    var immunization = 100 - {{session.immunization_perc}};
    var EDUSmoking = 100 - {{session.EDUSmoking_perc}};
    var EDUDisease = 100 - {{session.EDUDisease_perc}};
    var Screening = 100 - {{session.Screening_perc}};
    var TestingLab = 100 - {{session.TestingLab_perc}};
    var TestingPharmo = 100 - {{session.TestingPharmo_perc}};
    var AnnualPCP = 100 - {{session.AnnualPCP_perc}};
    prevsatscore = ((immunization + EDUSmoking + EDUDisease + Screening + TestingLab + TestingPharmo + AnnualPCP) / 7).toFixed(2);
}

// formula to calculate satisfaction score from acute care services
function acutesatscore() {
    var HospitalCare = 100 - {{session.HospitalCare_perc}};
    var MentalHealth = 100 - {{session.MentalHealth_perc}};
    var EmergencyCare = 100 - {{session.EmergencyCare_perc}};
    acutesatscore = ((HospitalCare + MentalHealth + EmergencyCare) / 3).toFixed(2);
}
// formula to calculate satisfaction score from ambulatory care services
function ambsatscore() {
    var OutPatientSurg = 100 - {{session.OutPatientSurg_perc}};
    var OutPatientRadio = 100 - {{session.OutPatientRadio_perc}};
    var PhysicianPCP = 100 - {{session.PhysicianPCP_perc}};
    var PhysicianSpec = 100 - {{session.PhysicianSpec_perc}};
    var UrgentCare = 100 - {{session.UrgentCare_perc}};
    var HomeHealth = 100 - {{session.HomeHealth_perc}};
    var Hospice = 100 - {{session.Hospice_perc}};
    ambsatscore = ((OutPatientSurg + OutPatientRadio + PhysicianPCP + PhysicianSpec + UrgentCare + HomeHealth + Hospice) / 7).toFixed(2);
}
// formula to calculate satisfaction score from long term care services
function ltcssatscore() {
    var LTAC = 100 - {{session.LTAC_perc}};
    var SkilledNursing = 100 - {{session.SkilledNursing_perc}};
    var NursingHome = 100 - {{session.NursingHome_perc}};
    var AsstLiving = 100 - {{session.AsstLiving_perc}};
    var IndLiving = 100 - {{session.IndLiving_perc}};
    ltcssatscore = ((LTAC + SkilledNursing + NursingHome + AsstLiving + IndLiving) / 5).toFixed(2);
}
// formula to calculate satisfaction score from pharmacy benefits
function pharmsatscore() {
    var NameBrand = 100 - {{session.NameBrand_perc}};
    var GenDrugs = 100 - {{session.GenDrugs_perc}};
    var SpecialtyDrugs = 100 - {{session.SpecialtyDrugs_perc}};
    var DurableMedEqu = 100 - {{session.DurableMedEqu_perc}};
    pharmsatscore = ((NameBrand + GenDrugs + SpecialtyDrugs + DurableMedEqu) / 4).toFixed(2);
}
// formula to calculate satisfaction score from taxes
function taxsatscore() {
    var TobTax = (10 - {{session.TobTax_perc}}) * 10; 
    var Alcohol = (10 - {{session.Alcohol_perc}}) * 10;
    var FattyFoods = (10 - {{session.FattyFoods_perc}}) * 10;
    var SugFoods = (10 - {{session.SugFoods_perc}}) * 10;
    taxsatscore = ((TobTax + Alcohol + FattyFoods + SugFoods) / 4).toFixed(2);
}
// formula to calculate overall satisfaction score
function overallsatscore() {
    var prevsat = parseFloat(prevsatscore);
    var acutesat = parseFloat(acutesatscore);
    var ambsat = parseFloat(ambsatscore);
    var ltcssat = parseFloat(ltcssatscore);
    var pharmsat = parseFloat(pharmsatscore);
    var taxsat = parseFloat(taxsatscore);
    overallsatscore = ((prevsat + acutesat + ambsat + ltcssat + pharmsat + taxsat) / 6).toFixed(2);
// document.getElementById('overallsatscore').innerHTML = document.getElementById('overallsatscore').replace(/\,/g, '').replace(/\-/g, '');
document.getElementById('overallsatscore' + id_suffix).innerHTML = overallsatscore;
}

</script>
{% endif %}
{% endfor %}
</tbody>
</table>
<div class="card card-stats card-warning card-round" id="card" style="visibility: hidden">
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <div class="icon-big text-center">
                    <i class="flaticon-exclamation"></i>
                </div>
            </div>
            <div class="col col-stats">
                <div class="numbers">
                    <h1 id="empty"></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    if (document.getElementById("test") == null) {
        document.getElementById("empty").innerHTML = "No students enrolled!";
        document.getElementById("card").style.visibility = "visible";
    }

</script>

<!-- <script src="{% static '/assets/js/plugin/datatables/datatables.min.js' %}"></script> -->





    
<script type="text/javascript">
    
    $(document).ready( function () {
    $('#basic-datatables').DataTable();
} );

</script>

</div>
</div>
{% endblock %}
</html>