<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load humanize %}

<html lang="en">
{% block breadcrumb %}
<a href="../components/font-awesome-icons.html">
  <li class="separator">
    <i class="flaticon-right-arrow"></i>
  </li>
  <li class="nav-item">
    <a href="/administration/creategame">Create New Game</a>
  </li>
  {% endblock %}
  {% block title %}
  <h4 class="page-title">Create New Game</h4>
  {% endblock %}
  {% block content %}
  <div class="main-panel">
    <div class="content">
      <div class="page-inner">
        <form method="post" class="create-game">
          {% csrf_token %}
          <div class="form-row">
             <div class="mx-auto"> <!-- centers the card --> 
                 <div class='row'>
            {{ form.Instructor }}   

                   <div class="card text-center">
                    <div class="card-header">
                     <div class="card-title">Game Parameters 
                     </div>
                   </div>
                   <div class="card-body">

                    <div class="form-group col-auto">
                      <label for="game_tag" >Game Code  <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="This will be the code students use to join your game. Can be numbers or letters ">
                      </i></label>
                      <div class="col-md-9 p-0">

                        {{form.join_tag}}

                      </div>
                    </div>

                    <div class="form-group col-auto">
                      <label for="name_game" >Course Section <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Example: MHA 201 - 001">
                      </i></label>
                      <div class="col-md-9 p-0">

                        {{form.course}}

                      </div>
                    </div>

                    <div class="form-group col-auto">
                      <label for="name_game" >Name Your Game <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="This can be anything you want!">
                      </i></label>
                      <div class="col-md-9 p-0">

                        {{form.game_name}}
                      </div>
                    </div>


                    <div class="form-group col-auto">
                     <label for="initial_pop" >Initial Population <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="This will be your population for your game">
                     </i></label>
                     <div class="col-md-9 p-0">

                       {{form.initial_population}}
                     </div>
                   </div>


                   <div class="form-group col-auto">
                     <label for="budget" >Initial Budget <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="The minimum budget is $500,000,000">
                     </i></label>
                     <div class="col-md-9 p-0">

                      
                      <div id="initial_budget">{{form.initial_budget}}</div>
                     <script>
                         
                        var formatter = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD',});
                       budget = document.getElementById("initial_budget").value;
                        // alert(budget);
                         // document.getElementById("initial_budget").innerHTML = formatter.format(document.getElementById("initial_budget").innerHTML);

                       </script>

                     </div>
                   </div>
                   <div class="form-group col-auto">
                     <label for="budget" >Deadline <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="The deadline is automatically set from a week from today.">
                     </i></label>
                     <div class="col-md-9 p-0">


                       {{form.deadline}}

                     </div>
                   </div>
                 </div>

                 <div class="card-footer">
                  <div class="form-action">

                    <button type="submit" value="Submit" name="submit" class="btn btn-primary btn-lg">Save Game</button>
                  </div>
                  {{ form.errors }}
                </div>
              </form>   
            </div>
              </div> </div>  
            </div>
        {% endblock %}

        </html>
