               <!DOCTYPE html>
{% extends 'studentbase.html' %}
{% load static %}
<html lang="en">
    {% block title %}
    <h4 class="page-title">Student Profile</h4>
    {% endblock %}
    {% block content %}
                            <div class="col-md-8">
							<div class="card card-with-nav">
								<div class="card-header">
									<div class="row row-nav-line">
										<ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
											<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="true">Profile</a> </li>
										</ul>
									</div>
								</div>
								<div class="card-body">
									<div class="row mt-3">
										<div class="col-md-6">
											<div class="form-group form-group-default">
												<label>Name</label>
												<input type="text" class="form-control" name="name" placeholder="Name" value="{{ user.first_name }}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group form-group-default">
												<label>Email</label>
												<input type="email" class="form-control" name="email" placeholder="Name" value="{{ user.email }}">
											</div>
										</div>
									</div>
									<div class="text-right mt-3 mb-3">
										<button class="btn btn-success">Save</button>
										<button class="btn btn-danger">Reset</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card card-profile card-secondary">
								<div class="card-header" style="background-image: url('{% static '/assets/img/blogpost.jpg' %}')">
									<div class="profile-picture">
										<div class="avatar avatar-xl">
											<img src="{% static '/assets/img/profile.jpg' %}" alt="..." class="avatar-img rounded-circle">
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="user-profile text-center">
										<div class="name">{{user.first_name}} {{user.last_name }}</div>
										<div class="job">{% if user.is_staff %} Staff {% else %} Student {% endif %}</div>
									</div>
								</div>
								<div class="card-footer">
								</div>
							</div>
						</div>
    {% endblock %}
</html>