<!DOCTYPE html>
{% extends 'studentbase.html' %}
{% load static %}
<html lang="en">
    {% block title %}
    <h4 class="page-title">Student Calendar</h4>
    {% endblock %}
    {% block content %}
<head>
    <meta charset='utf-8' />
    <link href="{% static '/assets/fullcalendar/lib/main.css' %}" rel='stylesheet' />
    <script src="{% static '/assets/fullcalendar/lib/main.js' %}"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
    {% endblock %}
</html>
