<!DOCTYPE html>
{% extends 'studentbase.html' %}
{% load static %}
<html lang="en">
{% block breadcrumb %}
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="/student/gameOverview">Overview</a>
        </li>
{% endblock %}
    {% block title %}
        <h4 class="page-title">Student Game Overview</h4>
    {% endblock %}
    {% block content %}
    <ul>
    {% for session in object_list %}
        <li><a href="{% url 'gameedit' session.pk %}">Session {{session.sessionid}}</a><br/>
        Player: {{session.student.first_name}} {{session.student.last_name}}</li>
    {% endfor %}
    </ul>
    {% endblock %}
</html>