<!DOCTYPE html>
{% extends 'studentbase.html' %}
{% load static %
<html lang="en">
    {% block breadcrumb %}
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="/student/gamecreate">Join</a>
        </li>
    {% endblock %}
    {% block tabtitle %}
    <title>Choose Game</title>
    {% endblock %}
    {% block title %}
    <h4 class="page-title">Join A Game</h4>
    {% endblock %}
    {% block content%}
    <div class="main-panel">
			<div class="content">
				<div class="page-inner">
                    <form method='POST'>
                    {% csrf_token %}
                        <div class="col-md-3 pl-md-0 pr-md-0">
							<div class="card card-pricing card-pricing-focus card-primary">
								<div class="card-header">
									<h4 class="card-title">Join Game</h4>
									</div>
								<div class="card-body">
									<ul class="specification-list">
                                        <center>
                                        <p>Enter Join Code Provided by your instructor.</p>
                                            <p><input name="game_txt" type="text"/ class="form-control"></p>
                                            <p style="color:orangered">Invalid join code, please enter a valid join code.</p></center>
									</ul>
								</div>
								<div class="card-footer">
									<button type ='submit' class="btn btn-light btn-block"><b>Get Started</b></button>
								</div>
                            </div></div>
                    </form></div>
                </div></div>
    <script>
alert(JOIN code invalid please enter a valid JOIN code.)</script>
    {% endblock %}
</html>
