<!DOCTYPE html>
{% load static %}
<html>
<head>
</head>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">

<body>
<div>

<table id="example" class=display" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Student e-mail</th>
	        <th>Password</th>
		<th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    {% for student in x %}
			<tr>
			<td>{{student.stud_email}}</td>
			<td>{{student.password}}</td>
                        <td>{{student.student_fname}}</td>
                        <td> {{student.student_lname }}</td>
			</tr>
                    {% endfor %}
                </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Student e-mail</th>
                <th>Password</th>
		<th>First Name</th>
	        <th>Last Name</th>
            </tr>
        </tfoot>
</table>

</div>
</body>

</html>
