<html>  
  
<head>  
    <title>Using Jquery Datatable</title>  
  
    <head>  
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>  
        <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js" type="text/javascript"></script>  
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />  
        <script type="text/javascript">  
$(document).ready(function ()  
{  
    $('#datatable').dataTable(  
    {});  
});  
        </script>  
        </script>  
    </head>  
  
    <body>  
        <table id="datatable">  
            <thead>  
                <tr>  
                    <th> Username </th>  
                    <th> Password </th>  
                    <th> Created by </th>  
                </tr>  
            </thead>  
            <tbody>  
                <tr>  
                    <td> Vinodh </td>  
                    <td> jquery@123 </td>  
                    <td> Admin </td>  
                </tr>  
                <tr>  
                    <td> Santhakumar </td>  
                    <td> jquery@123 </td>  
                    <td> Guest </td>  
                </tr>  
            </tbody>  
        </table>  
    </body>  
  
</html>  